.army-screen .units {

}

.army-screen .units .unit-item .inner{
    border-left-color: #702020;
}


.army-screen .units .unit-item:hover .inner{
    border-left-color: #903030;
}

.army-screen .unit-details {
    background: #282c34;
    color: #fff;
}