.army-screen .units {
    background: #602020;
}

.army-screen .units .unit-item{
    border-bottom: 1px solid #803030;
}


.army-screen .units .unit-item:hover{
    background: #803030;
}

.army-screen .unit-details {
    background: #282c34;
    color: #fff;
}