.mana-screen .units {
    background: #204050;
}

.mana-screen .units .unit-item{
    border-bottom: 1px solid #305060;
}


.mana-screen .units .unit-item:hover{
    background: #305060;
}

.mana-screen .unit-details {
    background: #282c34;
    color: #fff;
}