.mana-screen .units {

}

.mana-screen .units .unit-item .inner{
    border-left-color: #206080;
}


.mana-screen .units .unit-item:hover .inner{
    border-left-color: #307090;
}

.mana-screen .unit-details {
    background: #282c34;
    color: #fff;
}