.gold-screen .units {

}

.gold-screen .units .unit-item .inner {
    border-left-color: #a06535;
}

.gold-screen .units .unit-item{

}


.gold-screen .units .unit-item:hover .inner{
    border-left-color: #c08030;
}

.gold-screen .unit-details {
    background: #282c34;
    color: #fff;
}