.gold-screen .units {
    background: #504020;
}

.gold-screen .units .unit-item{
    border-bottom: 1px solid #605030;
}


.gold-screen .units .unit-item:hover{
    background: #605030;
}

.gold-screen .unit-details {
    background: #282c34;
    color: #fff;
}