* {
    font-family: 'Cinzel', serif;
    font-size: 15px;
}

.wrap {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    background: #102023;
}

.wrap .sidebar {
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 200px;
    background-color: #282c34;
    color: #fff;
}

.content {
    background: #282c34;
    flex: 1;
}

/** general content styles **/

.units-screen {
    display: flex;
}

.units-screen .units {
    height: 100vh;
    border-right: 1px solid #383c44;
}

.units-screen .units .unit-item{
    padding: 5px;
    cursor: pointer;
    color: #fff;
    height: 45px;
    background: #282c34;
    border-bottom: 1px solid #383c44;
}

.units-screen .units .unit-item:hover{
    background: #383c44;
}

.units-screen .units .unit-item .inner {
    padding: 5px;
    border: none;
    border-left: 3px solid;
    border-left-color: #362950;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.units-screen .units .unit-item .inner p{
    width: 180px;
    font-size: 14px;
}

.units-screen .units .unit-item p {
    margin: 0;
}

.units-screen .units .unit-item:hover{
    font-weight: bold;
}

.unit-details {
    padding: 10px;
    background: #282c34;
    color: #fff;
    flex: 1;
}

.columns {
    display: flex;
    justify-content: space-around;
}

.unit-details .columns > div {
    padding: 10px;
}

.purchaseArea {
    padding-top: 20px;
}

button {
    padding: 3px 10px;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
    background: #000;
    color: #fff;
    box-shadow: none;
    outline: none;
    border: 1px solid #204050;
    margin: 2px;
}

button:hover{
    background: #102025;
}

button.big {
    padding: 3px 10px;
    width: 130px;
}

.sidebar {
    margin-right: 10px;
}

.upgrade {
    border-top: 1px solid #383c44;
    margin-top: 10px;
}

.main-desc-area {
    padding-bottom: 20px;
}
