* {
    font-family: "Century Gothic";
    font-size: 14px;
}

.wrap {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}

.wrap .sidebar {
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 200px;
    background-color: #282c34;
    color: #fff;
}

.content {
    background: #333;
    flex: 1;
}

/** general content styles **/

.units-screen {
    display: flex;
}

.units-screen .units {
    height: 100vh;
}

.units-screen .units .unit-item{
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.units-screen .units .unit-item p {
    margin: 0;
}

.units-screen .units .unit-item:hover{
    font-weight: bold;
}

.unit-details {
    padding: 10px;
    background: #282c34;
    color: #fff;
    flex: 1;
}

.unit-details .columns {
    display: flex;
    justify-content: space-around;
}

.unit-details .columns > div {
    padding: 10px;
}

.purchaseArea {
    padding-top: 20px;
}
